.amb_hover_img a { position:relative; text-decoration: underline;}
.amb_hover_img a span { position:absolute; display:none; z-index:99; }
.amb_hover_img a:hover span { display:block;  transform: translate(90px,-245px);}
h1#amb_title
{
    text-align: center;
    margin-bottom:3%;
}
h1#amb_title2
{
    text-align: center;
    margin-bottom:3%;
    margin-top:5%;
}
h2#amb_special
{
    max-width:100%;
    float:none;
    text-align: center;
}
/* textarea
{
    resize:vertical;
    width: 40em;
    max-width:100%;
    height: auto;
    margin-top: 5px;
    margin-bottom:5px;
    height:5em;
    position: relative; 
} */
.amb_input-section
{
    width: 98%;
    max-height: 8em;
    height:4em;
    margin: 1%;
    float:center;
    text-align: left;
    margin-bottom: 2%;
}
.amb_input-marker
{
    width:45%;
    max-height: 8em;
    height:4em;
    margin: 0%;
    margin-left:2%;
    margin-right:0%;
    float:right;
    text-align: left;
}
.amb_input-field, .amb_input-field2
{
    width: fit-content;
    max-height: 8em;
    margin:0%,0%,0%,0%;
    position:inherit;
    float:none;
    text-align: center;
}
.amb_input-field2
{
    text-align: left;
    width:80%;
}

.amb_label
{
    font-weight: bold;
    float:left; 
}

/* .hovermsg
{
    visibility:hidden;
    width: 100px;
    background-color:rgb(243, 240, 240);
    color: rgb(95, 93, 92);
    text-align: center;
    border-radius: 6px;
    padding:5px 0;
    position: absolute;
    z-index:100;
    transform: translate(-200px,10px);
} */

.amb_alexa-content,.amb_alexa-text,.amb_alexa-conflictions
{
    width:98%;
    margin-left:1%;
    margin-right:1%; 
    max-height:8em;
    min-height:4em;
}

.amb_alexa-label
{
    margin-left:1%;
    margin-top:1%;
}

.amb_column-sections
{
    float:left;
    text-align: center;
    margin-bottom:2%;
    width:95%;
}
.amb_column-section2
{
    float:left;
    text-align: center;
    width:60%;
    margin-bottom:2%;
}

.amb_column-translate
{
    float:left;
    text-align: center;
    width:60%;
}
.amb_column-char
{
    float:left;
    text-align: center;
    width:30%;
}
.amb_column-translate-buttons
{
    float:none;
    text-align:center;
    margin-left:2%;
    margin-right:2%;
    margin-top:4%;
}

.amb_column-header-buttons
{
    text-align:right;
    margin-right:2%;
}

.amb_container
{
    width:95%;
    background-color: rgba(251, 244, 244, 0.721);
    float:center;
    padding:1em;
    margin:1%;
    border: groove 2px;
    border-color: rgba(251, 244, 244, 0.449);
    border-radius: 4px;
}
input.amb_input_text[type=text]
{
    border-color:rgba(212, 210, 210, 0.68);
    margin-right:1%;
}
.amb_container-fields
{
    width:94%;
    margin:1%;
    padding-left:1%;
    padding-right: 2%;
}
.amb_container-admin
{
    width:94%;
    border: solid 4px;
    margin-top:1%;
    border-color: rgba(255, 255, 255, 0.918);
    border-radius:4px;
    height: fit-content;
    padding:2%;
    padding-top:0%;
    background-color: rgb(255, 255, 255);
}

  /* Clear floats after the columns */
  .amb_row::after {
    content: "";
    display: block;
    clear: both;
    float: left;
  }

#amb_block_btn,#amb_export,#amb_import_one_basic_info,#amb_import_one_more_info,#amb_import_one_examples,#amb_translate_one_basic_info,#amb_translate_one_more_info,#amb_translate_one_examples,#amb_update,#amb_translate,#amb_delete_row,#amb_block_all,#amb_add_new_char,#amb_transl_update,#amb_save_sections,#amb_show_url
{
    
    
    color: #000;
    background: rgba(251, 244, 244, 0.884);
    border-width: 0.4px;
    max-width: fit-content;
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    opacity: 0.6;
    text-align: left;
    padding: 0.5em 3em 0.5em 3em;
    margin: 0.1em;
}

#amb_import_one_basic_info:hover,#amb_import_one_more_info:hover,#amb_import_one_examples:hover,#amb_translate_one_basic_info:hover,#amb_translate_one_more_info:hover,#amb_translate_one_examples:hover,#amb_block_btn:hover,#amb_drop-down_conflictions:hover,#amb_drop-down_basic_info:hover,#amb_drop-down_more_info:hover,#amb_drop-down_examples:hover,#amb_export:hover,#amb_show_url:hover,#amb_update:hover,#amb_delete_row:hover,#amb_translate:hover,#amb_add_new_char:hover,#amb_transl_update:hover,#amb_block_all:hover,#amb_save_sections:hover
{
    opacity:0.8;
    background: rgba(251, 244, 244, 0.796);
}
#amb_export,#amb_block_all,#amb_update,#amb_translate,#amb_add_new_char,#amb_transl_update,#amb_show_url
{
    margin-top:0em;
    padding:0.5em 1em 0.5em 1em;
    height:fit-content;
    max-width: fit-content;
    text-align: center;

}
#amb_drop-down_basic_info,#amb_drop-down_more_info,#amb_drop-down_examples,#amb_drop-down_conflictions
{
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
    padding: 0%;
    color: #000;
    background: rgba(251, 244, 244, 0.884);
    border-width: 0px;
}
#amb_delete_row
{
    text-align: center;
    padding:0.5em 1em 0.5em 1em;
    margin-top: 2%;

    
}
/* #amb_import_one_basic_info,#amb_import_one_more_info,#amb_import_one_examples,#amb_translate_one_basic_info,#amb_translate_one_more_info,#amb_translate_one_examples,*/
#amb_import_one_basic_info,#amb_import_one_more_info,#amb_import_one_examples,#amb_translate_one_basic_info,#amb_translate_one_more_info,#amb_translate_one_examples
{
  margin-top:1%;
  margin-bottom: 2%;
  padding:0.5em 1em 0.5em 1em;
  height:fit-content;
  max-width: fit-content;
  text-align: left;
  display: inline-block;
  position:static;
}